[submodule "submodules/tofhir"]
	path = submodules/tofhir
	url = https://github.com/srdc/tofhir
[submodule "submodules/rd-cdm"]
	path = submodules/rd-cdm
	url = https://github.com/BIH-CEI/rd-cdm	
[submodule "submodules/fhir-ips"]
	path = submodules/fhir-ips
	url = https://github.com/HL7/fhir-ips/
[submodule "submodules/phenopacket_mapper"]
	path = submodules/phenopacket_mapper
	url = https://www.github.com/bih-cei/phenopacket_mapper
