[submodule "submodules/tofhir"]
	path = submodules/tofhir
	url = https://github.com/srdc/tofhir
[submodule "submodules/phenopacket_mapper"]
	path = submodules/phenopacket_mapper
	url = https://github.com/BIH-CEI/phenopacket_mapper
