name: Python CI

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop]

jobs:
  run-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --editable .[test,docs]
          python3 -m pip install --editable ./submodules/phenopacket_mapper  # Install the submodule package

      - name: Configure BioPortal API Key for Oaklib
        run: |
          mkdir -p ~/.config/ontology-access-kit
          echo "${{ secrets.BIOPORTAL_API_TOKEN }}" > ~/.config/ontology-access-kit/bioportal-apikey.txt

      - name: Run tests with pytest
        env:
          BIOPORTAL_API_TOKEN: ${{ secrets.BIOPORTAL_API_TOKEN }}
        run: |
          pytest
